html {
  background-color: #0998DE;
  color: #BBBBDD;
  font-family: monospace;
  font-size: small; }

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer; }

#log {
  background-color: #0579B1;
  margin-top: 10px;
  margin-bottom: 10px; }

#dungeon {
  background-color: #0579B1;
  float: left;
  white-space: nowrap;
  margin-right: 10px; }

#info, #inventory {
  float: left;
  width: 30%;
  background-color: #0579B1;
  padding-left: 10px;
  padding-right: 10px; }

#inventory {
  padding: 10px;
  margin-top: 10px; }

#status {
  background-color: #0579B1;
  margin-bottom: 10px; }

span.mostrecentlog, .player, span.seeker, span.stairsup, span.unit, span.inventoryitem {
  color: white;
  font-weight: bold; }

span.exmostrecentlog {
  color: #F0F0FE; }

span.oaken_heart {
  color: #FC4D65;
  font-weight: bold; }

span.playerdmg {
  color: #FC4D65; }

span.remembered {
  color: #505050; }

span#playerdeath {
  color: #FC4D65;
  font-weight: bold; }
