html {
  background-color: #0998de;
  color: #bbbbdd;
  font-family: Consolas, monospace;
  font-size: small; }

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer; }

#log {
  background-color: #0579b1;
  margin-bottom: 10px; }

#dungeon {
  background-color: #0579b1;
  float: left;
  white-space: nowrap;
  margin-right: 10px; }

#info {
  float: left;
  width: 30%;
  background-color: #0579b1;
  padding-left: 10px;
  padding-right: 10px; }

#status {
  background-color: #0579b1;
  margin-bottom: 10px; }

span.mostrecentlog, .player, span.seeker, span.stairsup, span.unit {
  color: white;
  font-weight: bold; }

span#playerdeath {
  color: #fc4d65;
  font-weight: bold; }
